{% extends 'base_layout.html' %}

{% block title %}
Reset Password
{% endblock title %}

{% block maincontent %}
<div class="row d-flex justify-content-center" style="margin-top: 80px; margin-bottom: 20px;">
    <img src="{{url_for('static', filename='logo.png')}}" alt="Logo Aplikasi" style="width: 300px;" class="img-fluid">
</div>
<div class="row d-flex justify-content-center">    
    <div class="col-md-8">
      {% with messages = get_flashed_messages() %}
      {% for message in messages %}
        {% if 'error' in message %}
        <div class="alert alert-danger" role="alert">
            {{message['error']}}
        </div>
        {% elif 'info' in message %}
        <div class="alert alert-info" role="alert">
            {{message['info']}}
        </div>
        {% endif %}
      {% endfor %}    
      {% endwith %}
        <div class="card">
            <div class="card-header d-flex justify-content-center">
                <strong>Reset Password</strong>
            </div>
            <div class="card-body">
              <form action="" method="post">
                {{form.csrf_token}}
                <div class="mb-3">
                    {{form.email.label(class='form-label')}} 
                    {{form.email(class='form-control', placeholder='Email')}}
                  </div>
                  <div class="d-grid gap-2">
                    {{form.submit(class='btn btn-primary btn-large btn-block')}}
                  </div>
              </form>
            </div>
          </div>
    </div>
</div>
{% endblock maincontent %}